/*
    potter.css
    Essy Ingram, 20 May 2025

    Styles for the "Harry Potter" E2E web app
*/

/*
    mockup1.css
    Essy Ingram
    17 May 2025

    Advanced Search button adapted from https://www.w3schools.com/howto/howto_css_searchbar.asp.
*/

body {
    margin: 20px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.header {
    font-size: 30px;
    margin-top: 10px;
    margin-bottom: 10px;
    color: #260c84;
}

p.greeting {
    color: #0e1a51;
    font-size: 14pt;
    margin-top: 10px;
    margin-bottom: 10px;
}

button {
    margin: 8px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 12pt;
    border: 1px solid #260c84;
    border-radius: 3px;
    color: white;
    background-color: #260c84;
}

input {
    background-color: white;
    border: 2px solid #d2ccee;
    border-radius: 3px;
}

.search_form {
    margin-bottom: 8px;
    font-size: 10;
    border: 2px solid #b9afe2;
    padding-left: 8px;
    border-radius: 5px;
    background-color: #e4e1f2;
    width: 500px;
}

.check {
    font-size: 12pt;
    color: #0e1a51;
}

.results {
    float: left;
}

.results ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 500px;
    background-color: #f1f1f1;
}

.results ul li {
    font-size: 19pt;
    border: 1px solid #8d94c5;
    margin-top: -1px;
    background-color: #f6f6f6;
    display: block;
    color: #0e1a51;
    padding: 16px 20px;
    text-decoration: none;
}

.results ul li:hover {
    background-color: #b3bcea;
    color: white;
}

.results ul li.selected {
    background-color: #b3bcea;
}