/*
    mockup5.css
    Essy Ingram
    17 May 2025

    Contains (default) search results for "Gryffindor"
    and the specs of our selected object. 

    Search bar/"Advanced Search" button adapted from https://www.w3schools.com/howto/howto_css_searchbar.asp.
    Mock results adapted from https://www.w3schools.com/howto/howto_js_filter_lists.asp.
    Match type image formatted with https://www.w3schools.com/css/css3_object-fit.asp.
    Flexbox layout adapted from Jeff Ondich's sample6.css.
*/

body {
    margin: 20px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.header {
    font-size: 30px;
    margin-top: 10px;
    margin-bottom: 10px;
    color: #260c84;
}

.greeting {
    color: #0e1a51;
    font-size: 14pt;
    margin-top: 10px;
    margin-bottom: 10px;
}

p.small {
    font-size: 12pt;
    margin-top: 10px;
    margin-bottom: 10px;
}

.searchbar {
    overflow: hidden;
    background-color: #b3bcea;
    width: 450px;
    margin-bottom: 20px;
}

.searchbar a {
    float: right;
    display: block;
    color: white;
    text-align: center;
    padding: 14px 14px;
    text-decoration: none;
    font-size: 17px;
}

.searchbar a:hover {
    background-color: #8d94c5;
    color: white;
}

.searchbar input[type=text] {
    float: left;
    padding: 6px;
    border: none;
    margin-top: 8px;
    margin-left: 10px;
    width: 270px;
    font-size: 17px;
}

.results-container {
    display: flex;
    align-items: flex-start;
    gap: 40px;
}

#matches {
    width: 500px;
    list-style-type: none;
    margin: 0;
    padding: 0;
    background-color: #f1f1f1;
    
}

#matches li a {
    display: block;
    color: #0e1a51;
    border: 1px solid #8d94c5;
    margin-top: -1px;
    background-color: #f6f6f6;
    padding: 16px 20px;
    font-size: 20px;
    font-weight: 600;
    text-decoration: none;
}

#matches li a:hover:not(.header) {
    background-color: #b3bcea;
    color: white;
}

.match-type-img {
    width: 30px;
    height: 30px;
    object-fit: cover;
    border-radius: 20%; /* curved border edges */
    margin-right: 12px;
    vertical-align: middle; /* align icon with name*/
}

#matches li.clicked a {
    background-color: #b3bcea;
}

#specs {
    float: right;
    width: 500px;
    background-color: #f6f6f6;
    border: 1px solid #b3bcea;
    padding: 16px;
    color: #260c84;
    font-size: 18px;
}

#specs h4 {
    margin-top: -3px;
    margin-bottom: -3px;
    font-size: 28px;
}

#specs p {
    margin-top: 15px;
    margin-bottom: -3px;
    font-size: 24px;
}

#specs li {
    margin-bottom: 10px;
}