<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html;charset=utf-8" />
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='webapp.css') }}" />
    <script type="text/javascript" src="{{ url_for('static', filename='webapp.js') }}"></script>
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}" />
    <title>HP Wiki ⭐️</title>
</head>

<body>
    {% include 'header.html' %}
    <p class="greeting">Welcome to the interactive Harry Potter database. It's like magic!</p>
    <div class="search-form">
        <input id="search-text" type="text">
        <button id="search-button">Search</button>
        <label class="check">
            <input type="checkbox" id="include-characters" unchecked>Characters
        </label>
        <label class="check">
            <input type="checkbox" id="include-spells" unchecked>Spells
        </label>
        <label class="check">
            <input type="checkbox" id="include-potions" unchecked>Potions
        </label>
    </div>
    <div class="results-container">
        <ul id="results-list"></ul>
        <div class="specs">
            <h4 id="specs-type"></h4>
            <p id="specs-name"></p>
            <ul id="specs-list"></ul>
        </div>
    </div>
</body>
</html>
