<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html;charset=utf-8" />
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='webapp.css') }}" />
    <script type="text/javascript" src="{{ url_for('static', filename='webapp.js') }}"></script>
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}" />
    <title>HP Wiki ⭐️</title>
</head>

<body>
    <h3 class="header">Harry Potter Wiki ⭐️</h3>
    <p class="greeting">Welcome to the interactive Harry Potter database. It's like magic!</p>
    <div class="search_form">
        <input id="search_text" type="text">
        <button id="search_button">Search</button>
        <label class="check">
            <input type="checkbox" id="include_characters" unchecked>Characters
        </label>
        <label class="check">
            <input type="checkbox" id="include_spells" unchecked>Spells
        </label>
        <label class="check">
            <input type="checkbox" id="include_potions" unchecked>Potions
        </label>
    </div>
    <div class="results">
        <ul id="results-list"></ul>
    </div>
</body>
</html>
