<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html;charset=utf-8" />
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='potter.css') }}" />
    <script type="text/javascript" src="{{ url_for('static', filename='potter.js') }}"></script>
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}" />
    <title>⭐️⭐️CS 257⭐️⭐️</title>
</head>

<body>
    <h1>A Harry-Potter themed tiny web app✨</h1>
    <h3>(with API :D)</h3>

    <p><button id="characters_button">Characters</button></p>
    <p><button id="spells_button">Spells</button></p>
    <p><button id="potions_button">Potions</button></p>
    
        <ul id="item_list"></ul>
</body>
</html>
