<!DOCTYPE html>
<html>
<head>
    <title>Harry Potter Wiki reference</title>
</head>
<body>
    <pre>Harry Potter Wiki API: endpoint reference
All responses are in JSON

REQUEST: /
RESPONSE:
    A greeting from this API to you.

REQUEST: /help
RESPONSE:
    This message

REQUEST: /alumni-from/{hogwarts_house}
RESPONSE:
Shows a list of the Hogwarts alumni who belong to the specified Hogwarts House, case-insensitively.
    Each actor is represented as an element in a list of names.

    For example:

        /alumni-from/gryffindor

    will return a list of all known Gryffindor alumni.
    </pre>
</body>
</html>

